/*
******************************************
*******BODY*******************************
*/

body 
{
    background-color: #cccccc;
}

/*
******************************************
*******NAV BAR****************************
******************************************
*/


.nav-bar-info
{
    height: 56px;
    right: 0;
    z-index: 1;
}

.info
{
    height: 56px;
}

.nav-title
{
    padding-left: 50px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.title
{
    float: left;
    margin-top: -5px;
}

.nav-bar-tabs
{
    height: 48px !important;
    line-height: 48px !important;
    top: 56px; 
}

.nav-bar-tabs .row
{
    margin: 0px;
}

.nav-bar-tabs .row .col
{
    padding: 0px;
}

.text-info
{
    float: right;
    margin-right: 10px;
}

.text-info p
{
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 13px;
    margin-top: -15px;
    margin-bottom: 0px;
}

.text-info a
{
    color: rgb(200,200,200);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 13px;
   
}

.signout-div
{
    margin-bottom: 0px;   
    
    margin-top: -45px;
    float: right;
}

.text-info a:hover
{
    color: white;
}



.dp
{
    float: right;
    margin-right: 20px;
    margin-top: 8px;
    overflow: hidden;
    
}

.dp img
{
    border-radius: 50%;
}


.tab-bar {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    height: 48px;
    margin: 0px;
    width: 100%;
    white-space: nowrap;
    background-color: transparent;
}

.tab-bar .tab-new {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: block;
  float: left;
  text-align: center;
  line-height: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  letter-spacing: .8px;
  width: 15%;
  min-width: 80px;
}

.tab-bar .tab-new a {
    
    display: block;
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color .28s ease;

    color: white;
    font-size: 14px;
    font-family: "Roboto",sans-serif;
    font-weight: 400;
}

.tab-bar .tab-new a:hover {
  color: #f9c9cb;
}

.tab-bar .tab-new.disabled a {
  color: #f9c9cb;
  cursor: default;
}

.tab-bar .tab-new a.active
{
    border-bottom: 2px solid white;
}

.tab-bar .tab-new a:hover
{
    color: white;
}

.tab-bar .indicator
{  
  background-color: white;  
}

.invisible
{
    display: none !important;
}

.visible
{
    display: inline-block !important;
}


.content
{
    margin-top: 60px;
}

.setting-icon
{
   
    display: inline-block;
    
    border-radius: 50%;
}

.setting-icon i
{
    margin-left: 10px;
    margin-top: -6px !important;
    display: inline-block!important;
    border-radius: 50%;
    font-size: 25px !important;
}

.setting-div
{
    margin-right: 17px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.setting-div.selected
{    
    background-color: rgba(255,255,255,0.5) !important;
}

.phone-nav i
{
    margin-top: -3px;
}



/*
******************************************
*******For Mobile Phones******************
******************************************
*/



@media (max-width: 600px) 
{
    .text-info
    {
        visibility: hidden;
    }
    
    .pc-nav
    {
        visibility: hidden;
    }
    
    
    
    .setting-div
    {
        visibility: hidden !important;
    }
    
    .dp
    {
        margin-right: 10px;
        right: 0;
    }
    
    .nav-title
    {
        padding-left: 20px;
    }  
    
    .title
    {
        margin-top: 0px;
    }
    
    .invisible
    {
        display: inline-block !important;
    }    
    
    .visible
    {
        display: none !important;
    }
}

