body 
{
    background-color: #cccccc;
}

/* Nav Drawer */


.card-title
{
    font-size: 20px !important;
}

.btn span
{
    font-size: 13px !important;
}

.sel-input
{
    margin-top: 30px !important;
}

/*
  temp
*/

@media (min-width:992px) {
    #aside {
        width:250px;
    }
}

@media (max-width:992px) {
    #aside.pinned, #aside.pin-bottom {
        position:static !important;
        top: auto !important;
    }
}

/* try  */

label.dept
{
    width: 150px;
    height: 150px;
    padding: 0px auto !important;
    
    overflow: hidden;
}


label.dept > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}

label.dept > input + img{ /* IMAGE STYLES */
    cursor:pointer !important;
    
    border-radius: 10%; 
    transition: padding 0.2s;
  
}
label.dept > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
    background-color: deepskyblue;
    padding: 10%;
    
}

/*try */

.dept-row
{
    margin-top: 10px;
}

.dept-row div.s3
{
    text-align: center;
}

.bottom-row
{
    margin-top: -5px !important;
}

.dept-divider
{
    margin-top: 15px;
    background-color: grey;
}

.dept-name
{
    color: black;
    margin-top: -5px;
    font-size: 12px;
    font-family: "Roboto", sans-serif !important;
    font-weight: 200 !important;
}

.dept-icon
{
    width: 150px;
    height: 150px;
    margin: 0px auto;
    background-color: red !important;
}

.date
{
    margin-top: 15px;
}

.upload-btn
{
    margin-top: 60px;
}
.waves-effect.waves-blue .waves-ripple 
{
    background-color: rgba(0, 119, 189, 0.65) !important;
}

.card
{
    font-family: "Roboto", sans-serif !important;
    font-weight: 300 !important;
    
}

.input-field div.error
{
position: relative;
top: -1rem;
left: 0rem;
font-size: 0.8rem;
color:#FF4081;
-webkit-transform: translateY(0%);
-ms-transform: translateY(0%);
-o-transform: translateY(0%);
transform: translateY(0%);
}

.error
{
    float: right;
    margin-right: 20px;
}

.responsive-img
{
    
}

#shortMessage
{
    display: none;
}




/***************
     Switch
***************/


.switch label input[type=checkbox]:checked + .lever {
  background-color: #84c7c1;
}

.switch label input[type=checkbox]:checked + .lever:after {
  background-color: #26a69a;
}

.switch label .lever {
  content: "";
  display: inline-block;
  position: relative;
  width: 40px;
  height: 15px;
  background-color: #84c7c1;
  border-radius: 15px;
  margin-right: 10px;
  transition: background 0.3s ease;
  vertical-align: middle;
  margin: 0 16px;
}

.switch label .lever:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 21px;
  height: 21px;
  background-color: #26a69a;
  border-radius: 21px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
  left: -5px;
  top: -3px;
  transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease;
}


.rounded
{
    border-radius: 30%;
}