body 
{
    background-color: #cccccc;
}




.card
{
    font-family: "Roboto", sans-serif !important;
    font-weight: 100 !important;
}

.btn span
{
    font-size: 13px !important;
}


.view-notice
{
   margin-top: 15px;
}

.class-list
{
    margin-top: 10px;
    
}

.class-list ul li
{
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

.view-dept
{
    margin-top: 25px;
}

.card-image img
{
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.card-title
{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 15px !important;
}

.card ul
{
    margin-left: 20px !important;
}