
RewriteEngine on
RewriteCond %{HTTP_HOST} ^notapp\.wce\.ac\.in$ [OR]
RewriteCond %{HTTP_HOST} ^www\.notapp\.wce\.ac\.in$
RewriteRule ^/?$ "http\:\/\/wce\.ac\.in\/notapp" [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]